
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 34px;
  font-style: normal;
}

/* shared style */
body{
    background-color: rgb(246, 252, 250);
}
.btn{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
}

/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}
nav h3{
  font-weight: 800;
}
header{
    background-image: url(../Assets/Hero-bg.png);
}
.banner{
    text-align: center;
    padding: 100px 267.5px;
}
.banner-text{
    color: #252432;
    font-size: 65px;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* action style */
.action{
    display: flex;
    gap: 20%;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
}
.action-title{
    font-weight: 800;
    font-size: 42px;
}
.action-description{
    font-size: 24px;
    color: #252432;
}
.action-image img{
    border-radius: 10%;
}
/* Productive Users */
.Productive-Users{
    background-color: #4E47FF10;
    border-radius: 24px;
    padding: 50px 140px;
    margin-top: 116px;
}
.Productive-Users h3{
    text-align: center;
    font-size: 38px;
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user div{
    text-align: center;
}
.user h2{
    color: #4E47FF;
    font-size: 80px;
    font-weight: 800;
    margin: 0px;
}
.user p{
    color: #252432;
    font-weight: 400;
    font-size: 20px;
    margin: 0px;
}
/* review */
.review h3{
    color: #252432;
    text-align: center;
    font-size: 42px;
    margin-top: 116px;
}
.review-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.review-item{
    background-color: #FFFFFF;
    border: #F2EDED;
    border-radius: 14px;
    padding: 24px;
}
.reviewer-info{
    display: flex;
    gap: 12px;
}

.reviewer-info img{
    border-radius: 50%;
}

.reviewer-details h4{
    color: #303030;
    margin: 0px;
}
.reviewer-details p{
    color: #605f5f;
    margin: 0px;
}
