
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 34px;
  font-style: normal;
}

/* shared style */
body{
    background-color: rgb(246, 252, 250);
}
.btn{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
}
.logo{
    font-weight: 800;
    color: #4E47FF;
}
.btn:hover{
    background-color: #ecd909;
    color: #000000;
    cursor: pointer;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}
nav h3{
  font-weight: 800;
}
header{
    background-image: url(../Assets/Hero-bg.png);
}
.banner{
    text-align: center;
    padding: 100px 267.5px;
}
.banner-text{
    color: #252432;
    font-size: 65px;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* action style */
.action{
    display: flex;
    gap: 20%;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
}
.action-title{
    font-weight: 700;
    font-size: 42px;
}
.action-description{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}
.action-image img{
    border-radius: 10%;
}
/* Productive Users */
.Productive-Users{
    background-color: #4E47FF10;
    border-radius: 24px;
    padding: 50px 140px;
    margin-top: 116px;
}
.Productive-Users h3{
    text-align: center;
    font-size: 38px;
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user div{
    text-align: center;
}
.user h2{
    color: #4E47FF;
    font-size: 80px;
    font-weight: 800;
    margin: 0px;
}
.user p{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 20px;
    margin: 0px;
}
/* review */
.review h3{
    color: #1E1E1E;
    text-align: center;
    font-size: 42px;
    margin-top: 116px;
}
.review-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.review-item{
    background-color: #FFFFFF;
    border: #F2EDED;
    border-radius: 14px;
    padding: 24px;
}
.review-item h2,p{
    color: rgba(30, 30, 30, 1);
}
.reviewer-info{
    display: flex;
    gap: 12px;
}

.reviewer-info img{
    border-radius: 50%;
}

.reviewer-details h4{
    color: rgba(117, 117, 117, 1);
    margin: 0px;
}
.reviewer-details p{
    color: rgba(179, 179, 179, 1);
    margin: 5px;
}
/* cta */
.cta{
    background-color: #FFFFFF;
    padding: 70px 150px;
    margin-top: 116px;
}
.cta img{
    display: block;
    text-align: center;
    margin-top: 20px;
    border-radius: 48px;
}
.cta-content{
    text-align: center;
}
.cta-content h2{
    font-size: 50px;
    margin: 10px 0;
}
.cta-content p{
    color:rgba(0, 0, 0, 0.5);
}

/* contact */
.contact-us{ 
    display: flex;
    gap: 100px;
    justify-content: space-between;
    margin-top: 116px;
}
.contact-column{
    width: 50%;
}
.contact-column h1{
    font-size: 97px;
}
.contact-column input{
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #D6DDED;
    border-radius: 5px;
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.5);
}
.contact-column textarea{
    display: block;
    width: 100%;
    border-radius: 5px;
    border:1px solid #D6DDED;
    margin: 20px 0;
}
.contact-column label{
    display: block;
    font-size: 18px;
    font-weight: 400;
}
.contact-column button{
    width: 100%;
    padding: 19px ;

}
.contact-column ::placeholder{
    color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 20px;
}

/* footer style */
footer{
    background-color: #FFFFFF;
    text-align: center;
    padding: 104px 454px;
    margin-top: 116px;
}
footer h1{
    font-size: 100px;
    margin: 0px;
}
footer p{
    color: #8987A1;
    font-size: 18px;
}
footer ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0;
    margin: 20px 0;
}
footer ul li{
    list-style: none;
    color: #8987A1;
}
footer ul li a{
    text-decoration: none;
    color: #8987A1;
    font-size: 18px;
}